:root {
  --ludo-red: #E53935;
  --ludo-green: #43A047;
  --ludo-yellow: #FDD835;
  --ludo-blue: #1E88E5;
  --ludo-white: #FFFFFF;
  --ludo-black: #212121;
}

.object-game{
    margin: 10px;
    padding: 10px;
    background-color: var(--ludo-black);
    border: 2px solid var(--ludo-white);
    border-radius: 20px;
}

#blue-btn{
    background-color: var(--ludo-blue);
    border-radius: 25%;
}
#green-btn{
    background-color: var(--ludo-green);
    border-radius: 25%;
}
#red-btn{
    background-color: var(--ludo-red);
    border-radius: 25%;
}
#yellow-btn{
    background-color: var(--ludo-yellow);
    border-radius: 25%;
}